@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-font: "Montserrat", sans-serif;

}

.titles{
  font-family: var(--primary-font);

}

.body-color{
  background: #FF0099; 
  background: -webkit-linear-gradient(to right, #2e2029, #cf077f);  
  background: linear-gradient(to right, #2e2029, #cf077f); 

}